<div class="Bg-color">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="box my-3 border-dark rounded">
        <div class="p-5 pt-4 ">
            <div class="text-center pb-3 border-bottom">
                <h1 class="">LOGIN</h1>
                <p class="text-white-50 mb-5">Enter your username and password.</p>
            </div>
            <form class="mt-4  ps-3 pe-3 " [formGroup]="bioSection" (ngSubmit)="callingFunction()">
                <div class="mb-3">
                    <input type="text" class="form-control" id="inputUsername" placeholder="Username"
                        formControlName="username">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                        formControlName="password">
                </div>
                <div>
                    <p class="text-light">{{loginFail}}</p>
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
</div>