<div class="Bg-color">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="box my-3 border-dark rounded">
        <div class="p-5 pt-4 ">
            <div class="text-center pt-4 pb-1 border-bottom">
                <h1 class="">LOGIN</h1>
                <p class="text-white-50 mb-5">Enter your username and password.</p>
            </div>
            <form class="mt-4  ps-3 pe-3 " [formGroup]="bioSection" (ngSubmit)="callingFunction()">
                <div class="mb-3">
                    <input type="text" class="form-control" id="inputUsername" placeholder="Username" required
                    [ngClass]="{'is-invalid': bioSection.get('username').errors?.required && 
                    bioSection.get('username').touched}"
                     formControlName="username">
                    <!-- {{bioSection.get('username').value}} -->
                    <small *ngIf="bioSection.get('username').errors && bioSection.get('username').touched" class="text-danger">
                        username is required</small>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="inputPassword" placeholder="Password" required
                    [ngClass]="(bioSection.get('password').touched || 
                    bioSection.get('password').dirty) &&
                    bioSection.get('password').errors ? 'is-invalid' : ''"
                    formControlName="password">
                    <!-- {{bioSection.get('password').value}} -->
                    <small *ngIf="bioSection.get('password').errors && bioSection.get('password').touched" class="text-danger">
                        Password is Required(minimum length 8)</small>
                </div>
                <div>
                    <p class="text-light">{{loginFail}}</p>
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
</div>