้<h1>Norinwza 007</h1>
<div class="container row justify-content-center">
    <div class="col-12">
        <div class="mt-5 mb-2 border-bottom btn-toolbar justify-content-between">
            <h3>Project list</h3>
            <div>
            </div>
        </div>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Project name</th>
                    <th scope="col">Student ID</th>
                    <th scope="col">Name</th>
                    <td scope="col">Status</td>
                    <td scope="col">Action</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Mask Detection</th>
                    <td>6252300331
                        <br>
                        6252300373
                    </td>
                    <td>นรภัทร คำมล
                        <br>
                        ธนาธิป งามเลิศ
                    </td>
                    <td>อนุมัติแล้ว</td>
                    <td>
                        <app-reset-password><i class="bi bi-key text-warning fs-5"></i></app-reset-password>
                        <app-edit-user class="ms-3"></app-edit-user>
                        <i class="bi bi-trash ms-3" style="cursor: pointer; color: #ff968a"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>