<div class="container row justify-content-center">
    <div class="col-12">
        <div class="mt-5 mb-2 border-bottom btn-toolbar justify-content-between">
            <h3>Accout mangement</h3>
            <!-- Button trigger modal -->
            <div>
                <app-insert-user (onDone)="onDone($event)"></app-insert-user>
            </div>
        </div>

        <table class="table mt-4">
            <thead>
                <tr class="">
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Role</th>
                    <td scope="col text-center">Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of userAccountList; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.firstname+' '+item.lastname}}</td>
                    <td>{{item.role}}</td>
                    <td>
                        <app-reset-password [itemData]="item" (onDone)="onDone($event)"><i class="bi bi-key text-warning fs-5"></i></app-reset-password>
                        <app-edit-user class="ms-3" [itemData]="item" (onDone)="onDone($event)"></app-edit-user>
                        <i class="bi bi-trash ms-3" style="cursor: pointer; color: #ff968a"
                            (click)="onDelete(item._id)"></i>
                    </td>

                </tr>
            </tbody>

        </table>
    </div>
</div>