<div class="container row justify-content-center">
    <div class="col-12">
        <div class="mt-5 mb-2 border-bottom btn-toolbar justify-content-between">
            <h3>Accout mangement</h3>
            <!-- Button trigger modal -->
            <div>
                <app-insert-user (onDone)="onDone($event)"></app-insert-user>
            </div>
        </div>
        <div class="mt-4 ps-4 pe-4">
            <table class="table ">
                <thead>
                    <tr class="">
                        <th style="width: 5%">#</th>
                        <th style="width: 35%">Name</th>
                        <th style="width: 25%">Role</th>
                        <th style="width: 35%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of userAccountList; let i = index">
                        <td scope="row">{{i+1}}</td>
                        <td scope="row">{{item.firstname+' '+item.lastname}}</td>
                        <td scope="row">{{item.role}}</td>
                        <td scope="row">
                            <app-reset-password [itemData]="item" (onDone)="onDone($event)">
                                <button class="btn btn-warning"><i class="bi bi-key text-dark fs-5"></i>
                                    เปลี่ยนรหัสผ่าน</button>
                            </app-reset-password>
                            <app-edit-user class="ms-3" [itemData]="item" (onDone)="onDone($event)"></app-edit-user>
                            <button style="background-color: #ff968a" class="btn ms-3" *ngIf="!item.delete"
                                (click)="onDelete(item._id)"><i class="bi bi-trash "></i> ลบ</button>
                        </td>

                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>