<div class="mt-5 container">
    <div class="row gx-4">
        <div class="col-4 " >
            <div class="p-3 pt-5 pb-5 border rounded-2 text-center " style="height: 15em;">
                <label class="fs-4 ">Totel</label>
                <h1 class="pt-2 pb-2">{{sumPendding+sumAccept}}</h1>
                <label class="fs-4">Project</label>
            </div>
        </div>
        <div class="col-8 ">
            <div class="row p-3 pb-4 border rounded-2 text-center " style="height: 15em;">
                <h4 class="pt-1">Project Status</h4>
                <div class="col">
                    <label class="fs-4 text-success">Accept</label>
                    <h1 class="pt-2 pb-2 text-success">{{sumAccept}}</h1>
                    <label class="fs-4 text-success">Project</label>
                </div>
                <div class="col">
                    <label class="fs-4 text-warning">Pending</label>
                    <h1 class="pt-2 pb-2 text-warning">{{sumPendding}}</h1>
                    <label class="fs-4 text-warning">Project</label>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5" *ngIf = "chartEnable">
        <chart [type]="type" [data]="data" [options]="options" style="height: 450px;"></chart>
    </div>
</div>