<app-user-nevbar></app-user-nevbar>
<form class="d-flex pt-3">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit"><i class="bi bi-search "></i></button>
</form>

<div class="col-sm pt-4">
  <div class="row">
    <div class="col-sm-3 col-lg-3 text-dark border row justify-content-center">
      <div class="p-3 " style="justify-content: center;">
        <p class="m-0"><i class="bi bi-funnel-fill"></i> ค้นหาแบบละเอียด</p>
        <p class="mt-3">รายชื่ออาจารย์!!!</p>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            จารย์ 1 คงกระพัน
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            จารย์ 2 เหล็กไหล
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            จารย์ 3 สายย่อ
          </label>
        </div>
        <p class="mt-3">หมวดหมู่</p>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            บางกรอบ
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            เนื้อนมไข่
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            เบิ้มๆ
          </label>
        </div>
      </div>
    </div>

    <div class="col-sm-3 col-lg-9 ">
      <div class="card" style="max-width: 100%;">
        <div class="card-header">ชื่อโครงการ : คนละครึ่ง</div>
        <div class="card-body text-dark p-1">
          <h5 class="card-title m-0">สมาชิกผู้พฒนา</h5>
          <p class="card-text m-0">สหรัถ พวงหลีด</p>
          <p class="card-text m-0">อุดมชัย เที่ยงตรง</p>
          <p class="pt-2 m-0">อาจารย์ที่ปรึกษา: </p>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-9 col-lg-10 border">
      <div class="card border-dark mt-2" style="max-width: 55rem;">
        <div class="card-header">ชื่อโครงการ : คนละครึ่ง</div>
        <div class="card-body text-dark">
          <h5 class="card-title m-0">สมาชิกผู้พฒนา</h5>
          <p class="card-text m-0">สหรัถ พวงหลีด</p>
          <p class="card-text">อุดมชัย เที่ยงตรง</p>
        </div>
        <p class="p-3">อาจารย์ที่ปรึกษา: </p>
      </div>
    </div> -->
  </div>
</div>