<app-user-nevbar></app-user-nevbar>  
<div class="container mt-5 mb-5">
  <div class="text-center">
    <h4>รายการและสถานะโครงงาน<br>แยกตามหลักสูตรและปีที่สำเร็จการศึกษา</h4>
  </div>
  <div class="accordion mt-5" id="accordionExample">
    <div class="accordion-item" *ngFor="let year of label; index as i;" style="border-radius: 10px;">
      <h2 class="accordion-header" [id]="'heading'+year" class="">
        <button class="accordion-button collapsed top-button" type="button" data-bs-toggle="collapse"
          [attr.data-bs-target]="'#collapse'+year" aria-expanded="false" [attr.aria-controls]="'#collapse'+year">
          <div class="col fs-5">
            ปี พ.ศ. {{year}}
          </div>
          <div class="col text-end me-3 ">
            <label class="border rounded-pill bg-light text-dark ps-2 pe-2">
              {{project[i].length}}
            </label>
          </div>
        </button>
      </h2>
      <div [id]="'collapse'+year" class="accordion-collapse collapse" [ngClass]="{'show' : i===0}"
        [attr.aria-labelledby]="'heading'+year" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul class="list-group">
            <a class="text-decoration-none" [routerLink]="'/project-detail/'+item._id" *ngFor="let item of project[i];">
              <li class="list-group-item">
                <div class="row">
                  <div class="col">โครงงาน{{item.project_nameTH}}</div>
                  <div class="col text-end">
                    <div *ngIf='item.approve' class="text-success">อนุมัติแล้ว</div>
                    <div *ngIf='!item.approve' class="text-warning">รอการอนุมัติ</div>
                  </div>
                </div>
              </li>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>