@import '~bootstrap-icons/font/bootstrap-icons';

.navbar-bg{
    background-color: rgba(157, 6, 33, 1);
}
.top-button{
    background: #dddfe3;
    color: rgb(61, 61, 61);
    border-radius: 10px;
}
.list-group-item{
    border-radius: 10px;
}