<p>
    Today's item: {{item}}
  </p>

<button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" #openModel hidden>
</button>

<!-- Modal Insert User -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModel></button>
            </div>
            <form [formGroup]=formSection (ngSubmit)="submitData()">
                <div class="modal-body row">
                    <div class="col-4 row justify-content-end">
                        <div class="mb-3 text-end">
                            <label for="inputUsername" class="col-form-label br-row">Username</label>
                        </div>
                        <div class="mb-3 text-end">
                            <label for="inputFirstname" class="col-form-label br-row">Firstname</label>
                        </div>
                        <div class="mb-3 text-end">
                            <label for="inputLastname" class="col-form-label br-row">Lastname</label>
                        </div>

                        <label for="inputrole" class="col-form-label text-end">Role </label>
                    </div>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="username" class="form-control" id="inputUsername" formControlName="username">
                        </div>
                        <div class="mb-3">
                            <input type="firstname" class="form-control" id="inputFirstname " formControlName="firstname">
                        </div>
                        <div class="mb-3">
                            <input type="lastname" class="form-control" id="inputLastname" formControlName="lastname">
                        </div>
                        <select class="form-select dropdown-toggle" type="button" formControlName="role">
                            <option value="student">Student</option>
                            <option value="teacher">Teacher</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>