<button class="btn btn-success" data-bs-toggle="modal" [attr.data-bs-target]="'#'+itemData._id"><i
        class="bi bi-pencil-square text-light" style="cursor: pointer; "></i> แก้ไข</button>
<!-- Modal Insert User -->
<div class="modal fade model-update" id="{{itemData._id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModel></button>
            </div>
            <form [formGroup]=formSection (ngSubmit)="submitData()">
                <div class="modal-body row pb-0 me-2">
                    <div class="row">
                        <div class="col-4">
                            <div class="mb-3 text-end">
                                <label for="inputUsername" class="col-form-label br-row">Username</label>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="mb-3">
                                <input readonly type="username" class="form-control" id="inputUsername"
                                    formControlName="username">
                                <small
                                    *ngIf="formSection.get('username').errors && formSection.get('username').touched "
                                    class="text-danger">
                                    everything is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="mb-3 text-end">
                                <label for="inputFirstname" class="col-form-label br-row">Firstname</label>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="mb-3">
                                <input type="firstname" class="form-control" id="inputFirstname "
                                    formControlName="firstname">
                                <small
                                    *ngIf="formSection.get('firstname').errors && formSection.get('firstname').touched "
                                    class="text-danger">
                                    everything is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="mb-3 text-end">
                                <label for="inputLastname" class="col-form-label br-row">Lastname</label>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="mb-3">
                                <input type="lastname" class="form-control" id="inputLastname"
                                    formControlName="lastname">
                                <small
                                    *ngIf="formSection.get('lastname').errors && formSection.get('lastname').touched "
                                    class="text-danger">
                                    everything is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!itemData.delete">
                        <div class="col-4">
                            <div class="mb-3 text-end">
                                <label for="inputrole" class="col-form-label text-end">Role </label>
                            </div>
                        </div>
                        <div class="col-8">
                            <select class="form-select dropdown-toggle" type="button" formControlName="role">
                                <!-- <option value="student">Student</option> -->
                                <option value="Teacher">Teacher</option>
                                <option value="Administrator">Administrator</option>
                            </select>
                            <small *ngIf="formSection.get('role').errors && formSection.get('role').touched "
                                class="text-danger">everything is required</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8 ps-0">
                        <p class="text-danger">{{textAlert}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>