<label style="cursor: pointer; " data-bs-toggle="modal" [attr.data-bs-target]="'#Password_'+itemData._id">
    <ng-content ></ng-content>
</label>


<!-- Modal Insert User -->
<div class="modal fade model-update" id="Password_{{itemData._id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModel></button>
            </div>
            <form [formGroup]=formSection (ngSubmit)="updatePassword()">
                <div class="modal-body row pb-0">
                    <div class="row justify-content-end">
                        <div class="mb-3 row">
                            <div class="col-3">
                                <label for="inputUsername" class="col-form-label br-row">Username</label>
                            </div>
                            <div class="col-9">
                                <input readonly type="username" class="form-control" id="inputUsername"
                                    formControlName="username">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-3">
                                <label for="inputPassword" class="col-form-label br-row">Password</label>
                            </div>
                            <div class="col-9">
                                <input type="password" class="form-control" id="inputPassword"
                                    formControlName="password">
                            </div>
                        </div>
                        <div class="mb-1 row">
                            <div class="col-3">
                                <label for="inputConfirmPassword" class="col-form-label br-row">Confirm<br>Password</label>
                            </div>
                            <div class="col-9">
                                <div class=" pt-2  align-content-center">
                                    <input type="password" class="form-control" id="inputConfirmPassword"
                                        formControlName="confirmPassword">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-3"></div>
                            <div class="col-9">
                                <p class="text-danger" *ngIf="formSection.value.password.length < 8">
                                    Your password must be 8-20 characters long</p>
                                <p class="text-danger"
                                    *ngIf="formSection.value.password !== formSection.value.confirmPassword && formSection.value.password.length >= 8">
                                    Password not match</p>
                                <p class="text-danger" *ngIf="textAlert !== ''">{{textAlert}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>