<div class="container row justify-content-center">
    <div class="col-12">
        <div class="mt-5 mb-2 border-bottom btn-toolbar justify-content-between">
            <h3>Project list</h3>
            <div>
            </div>
        </div>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col-4">Project name</th>
                    <th scope="col-4"> Name</th>
                    <td scope="col-2" class="text-center">Status</td>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer" [routerLink]="['/admin/project-detail/'+item._id]" *ngFor="let item of dataProjectList;" >
                    <th scope="row">{{item.project_nameTH}}</th>
                    <td> <ul>
                        <li class="list-name" *ngFor="let name_develop of item.developNames; ">
                            {{name_develop.ID + ' ' + name_develop.firstname + ' ' + name_develop.lastname}}
                        </li>
                    </ul></td>
                    <td  class="text-center">
                        <label *ngIf="item.approve">อนุมัติแล้ว</label>
                        <label *ngIf="!item.approve">กำลังรอการอนุมัติ</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
