<div class="container row justify-content-center">
    <div class="col-12">
        <div class="mt-5 mb-2 border-bottom btn-toolbar justify-content-between">
            <h3>Project list</h3>
            <div>
            </div>
        </div>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Project name</th>
                    <th scope="col">Student ID</th>
                    <th scope="col">Name</th>
                    <td scope="col">Status</td>
                    <td scope="col">Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataProjectList; let i = index" >
                    <th scope="row">{{i+1}}</th>
                    <td>6252300331
                    </td>
                    <td>นรภัทร คำมล
                    </td>
                    <td>อนุมัติแล้ว</td>
                    <td>
                        <!-- <app-reset-password><i class="bi bi-key text-warning fs-5"></i></app-reset-password>
                        <app-edit-user class="ms-3"></app-edit-user> -->
                        <i class="bi bi-trash ms-3" style="cursor: pointer; color: #ff968a"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- <tbody>
    <tr *ngFor="let item of userAccountList; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{item.firstname+' '+item.lastname}}</td>
        <td>{{item.role}}</td>
        <td>
            <app-reset-password [itemData]="item" (onDone)="onDone($event)"><i class="bi bi-key text-warning fs-5"></i></app-reset-password>
            <app-edit-user class="ms-3" [itemData]="item" (onDone)="onDone($event)"></app-edit-user>
            <i class="bi bi-trash ms-3" style="cursor: pointer; color: #ff968a"
                (click)="onDelete(item._id)"></i>
        </td>

    </tr>
</tbody> -->