<div class="container mt-5">
    <h1 class="text-center" style="font-size: 40px;">รายละเอียดโครงงาน</h1>
    <div class="row justify-content-center mt-4 mb-5 ">
        <div class="col-10 ">
            <form [formGroup]="submit_form" (ngSubmit)="submitProject()">
                <div class="form-group">
                    <label for="course">หลักสูตร</label>
                    <input type="text" class="form-control mt-2" formControlName="course" required>
                    {{submit_form.get('course').value}}
                    <!-- [ngClass]="{'is-invalid': submit_form.get('course').value === '' || submit_form.get('course').touched}" -->
                    <!-- <div 
                     class="invalid-feedback">course is required</div> -->
                    <small *ngIf="submit_form.get('course').errors && submit_form.get('course').touched ? 'is-invalid' : '' " class="text-danger">
                        course is required</small>
                </div>
                <div class="form-group mt-2">
                    <label for="graduation-year">ปีที่สำเร็จการศสึกษา</label>
                    <input type="text" class="form-control mt-2" formControlName="graduation_year" required>
                    <div class="invalid-feedback">Please choose a username.</div>
                    <small *ngIf="submit_form.get('graduation_year').errors && submit_form.get('graduation_year').touched ? 'is-invalid' : '' " class="text-danger">
                        graduation-year is required</small>
                </div>
                <div class="form-group mt-2">
                    <label for="project_type">ประเภทโครงงาน</label>
                    <input type="text" class="form-control mt-2" formControlName="project_type" required>
                    <div class="invalid-feedback">Please choose a username.</div>
                    <small *ngIf="submit_form.get('project_type').errors && submit_form.get('project_type').touched ? 'is-invalid' : '' " class="text-danger">
                        project_type is required</small>
                </div>
                <div class="form-group mt-2">
                    <label for="nameTH">ชื่อโครงงานภาษาไทย</label>
                    <input type="text" class="form-control mt-2" formControlName="project_nameTH" required>
                    <small *ngIf="submit_form.get('project_nameTH').errors && submit_form.get('project_nameTH').touched ? 'is-invalid' : '' " class="text-danger">
                        project_type is required</small>
                </div>
                <div class="form-group mt-2">
                    <label for="nameENG">ชื่อโครงงานภาษาอังกฤษ</label>
                    <input type="text" class="form-control mt-2" formControlName="project_nameEng" required>
                    <small *ngIf="submit_form.get('project_nameEng').errors && submit_form.get('project_nameEng').touched ? 'is-invalid' : '' " class="text-danger">
                        project_type is required</small>
                </div>
                <div class="form-group mt-2">
                    <p class="mb-0">ชื่อผู้พัฒนา
                        <i (click)="changeCount(1)" class="bi bi-plus-square fs-5 ms-2" style="cursor: pointer;"></i>
                        <i (click)="changeCount(-1)" class="bi bi-dash-square fs-5 ms-2" style="cursor: pointer;"></i>
                    </p>
                    <div formArrayName="developNames" class="row"
                        *ngFor="let item of developNames.controls; let i = index ">
                        <div [formGroupName]="i" class="row m-0 p-0">
                            <div class="col-4">
                                <input type="text" class="form-control mt-2" formControlName="ID" required
                                    placeholder="ID">
                                    <!-- {{item.get('ID').value}} -->
                                    <small *ngIf="item.get('ID').errors && item.get('ID').touched ? 'is-invalid' : '' " class="text-danger">develop_ID is required</small>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control mt-2" formControlName="firstname" required
                                    placeholder="Firstname">
                                <small *ngIf="item.get('firstname').errors && item.get('firstname').touched ? 'is-invalid' : '' " class="text-danger">develop_ID is required</small>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control mt-2" formControlName="lastname" required
                                    placeholder="Lastname">
                                <small *ngIf="item.get('lastname').errors && item.get('lastname').touched ? 'is-invalid' : '' " class="text-danger">develop_ID is required</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" mb-2 mt-2">
                    <label class="mt-2" for="advisor-name">อาจารย์ที่ปรึกษา</label>
                    <div class="input-group">
                        <select class="form-select " id="inputGroupSelect01" formControlName="advisor_name">
                            <option value="t1">จารย์หนึ่งคงกระพัน</option>
                            <option value="t2">จารย์สองเหล็กไหล</option>
                            <option value="t3">จารย์สามสองสิบแปด</option>
                        </select>
                        <!-- {{submit_form.get('advisor_name').value}} -->
                    </div>
                    <small *ngIf="submit_form.get('advisor_name').errors && submit_form.get('advisor_name').touched ? 'is-invalid' : '' " class="text-danger">advisor-name is required</small>
                </div>
                <div class=" mt-2">
                    <label class="mt-0" for="advisor-name">บทคัดย่อ</label>
                    <textarea class="form-control" aria-label="With textarea" formControlName="abstract"></textarea>
                    <small *ngIf="submit_form.get('abstract').errors && submit_form.get('abstract').touched ? 'is-invalid' : '' " class="text-danger">
                        project_type is required</small>
                </div>
                <div class="form-group mt-2">
                    <label for="course">ที่เก็บซอร์สโค้ด</label>
                    <input type="text" class="form-control mt-2" formControlName="sorec_code" required>
                    <small *ngIf="submit_form.get('sorec_code').errors && submit_form.get('sorec_code').touched ? 'is-invalid' : '' " class="text-danger">
                        project_type is required</small>
                </div>
                <div class="mt-2">
                    <label for="course">ไฟล์รูปเล่ม</label>
                    <div class="input-group mb-3 mt-2">
                        <input type="file" class="form-control" id="inputGroupFile02" (change)="uploadFile($event)">
                        <label class="input-group-text" for="inputGroupFile02">Upload</label>
                    </div>
                    <!-- <small *ngIf="submit_form.get('project_nameEng').errors && submit_form.get('project_nameEng').touched ? 'is-invalid' : '' " class="text-danger">
                        project_type is required</small> -->
                </div>
                <div class="form-group mt-2 text-center">
                    <button class="btn btn-primary btn-block mt-3" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>