<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-sidebar ps-sidebar">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a class="nav-link link-light" routerLink="/admin/project" href="">
                            Project Management
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light" routerLink="/admin/user-management" href="">
                            Account Management
                        </a>
                    </li>
                </ul>

                <div class="dropdown pb-4">
                    <!-- Split dropup button -->
                    <div class="btn-group dropup">
                        <a class="dropdown-toggle dropdown-toggle-split link-light text-decoration-none "
                            data-bs-toggle="dropdown" aria-expanded="false" href="">
                            {{(dataUser == undefined)? 'Userundefined' :dataUser.username}}
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" (click)="resetPassword()">Reset password</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="col py-3">
            <app-reset-password class="dropdown-item" [itemData]="dataUser" hidden>
                <label #openModel >
                    Reset password
                </label>
            </app-reset-password>


            <app-user-management *ngIf="content == 'user-management'"></app-user-management>
            <app-project-list></app-project-list>

        </div>
    </div>
</div>