@import "~bootstrap-icons/font/bootstrap-icons.css";

 
 .bg-sidebar{
     background-color: rgba(157, 6, 33, 1);
 }
 .pointer {cursor: pointer;}


.navbar-bg{
    background-color: rgba(157, 6, 33, 1);
}

// .nav-position{
//     padding-right: 30px;
// }

.dropdown-pull-right {
    float: right !important;
    right: 0;
    left: auto;
  }
  
  .dropdown-pull-right>.dropdown-menu {
    right: 0;
    left: auto;
  }
//  .container-admin-sidebar{
//     width: 100%;
//     padding-right: var(--bs-gutter-x,.75rem);
//     margin-right: auto;
    
//  }